@import url("//fonts.googleapis.com/css?family=Lobster:400");


.Lobster {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Lobster';
  font-style: italic;  
  line-height: 1;
  font-size: 28px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#thisBody {
  padding-top: 70px;
  padding-bottom: 40px;
  background-image: url("../assets/bkg2.jpg");
  background-size:   cover;
  background-repeat: no-repeat;
  background-position: left;
}

#footerNavbar {
    min-height: 10px;
}