<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE html>  
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://java.sun.com/jsf/core" >

    <!-- *********************** HEAD *********************** -->
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <link rel="shortcut icon" href="./assets/favicon.ico"/>

        <title>CloudSong - #{musicaBean.musicaPlayName}</title>       

        <!-- Bootstrap core CSS -->
        <link href="./css/superhero.css" rel="stylesheet" type="text/css"/>
        <link href="./css/styles.css" rel="stylesheet" type="text/css" />


        <script>
            /**
             * Funão carregar: abre o modal com as músicas na tela
             * apenas se houver músicas carregadas
             * @returns {undefined}
             */
            function carregar() {
                if (#{musicaBean.musicas.size() > 0}) {
                    $('#myModal').modal('show');
                }
            }
        </script>
    </h:head>

    <!-- *********************** BODY *********************** -->
    <h:body id="thisBody" onload="carregar()">        

        <h:form id="menu">
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand Lobster" href="index.xhtml"><label class="glyphicon glyphicon-volume-up text-warning"/>  CloudSong</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">

                            <!-- Menu Registros >
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Registros <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><h:commandLink action="#{registrosBean.novo}" value="Novo Registro"/></li>
                                    <li><a href="ata.jsf">Ata de Reunião</a></li>
                                    <li class="divider"></li>
                                    <li><a href="registros.jsf">Visualizar Registros</a></li>
                                </ul>
                            </li-->                           
                        </ul>
                    </div>
                </div>
            </div>
        </h:form>


        <div class="container">

            <h:form class="jumbotron" p:role="form" id="mainForm">


                <div class="row">
                    <div class="col-md-12">
                        <h4>
                            <h:outputLabel class="text-warning" value="# #{musicaBean.selectedPastaName}" />

                            <h:outputLink class="btn btn-warning btn-sm pull-right" id="botaoModal" value="#myModal" p:data-toggle="modal">
                                Abrir Player
                            </h:outputLink>
                        </h4>
                    </div>
                </div>


                <br/>


                <div class="row">
                    <div class="col-md-12">
                        <h:dataTable class="table table-striped table-hover table-responsive"  value="#{musicaBean.pastas}" var="item" border="1">
                            <h:column>
                                <f:facet name="header">
                                    Pastas
                                </f:facet>

                                <h:commandLink title="#{item}" value="#{item}" action="#{musicaBean.trocaPasta}">
                                    <f:setPropertyActionListener target="#{musicaBean.selectedPasta}"  value="#{item}"/>
                                </h:commandLink>                                
                            </h:column>                         
                        </h:dataTable>                        

                    </div>
                </div>
            </h:form>

            <h:form id="modalForm">
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Cabeçalho Modal -->
                            <div class="modal-header">
                                <a class="close text-warning" data-dismiss="modal">×</a>
                                <h4 class="modal-title text-warning" id="myModalLabel">#{musicaBean.selectedPastaName}  [#{musicaBean.musicaPlayName}]</h4>
                            </div>

                            <!-- Corpo Modal -->
                            <div class="modal-body">

                                <audio id="player" class="table" controls="true" src="#{musicaBean.musicaPlay}" 
                                       onended="history.go(0);#{musicaBean.troca()}" preload="auto" autoplay="autoplay">
                                    Your browser does not support the audio element.
                                </audio>

                                <h:dataTable class="table table-condensed table-responsive table-bordered table-hover table-striped"  
                                             value="#{musicaBean.musicas}" var="item" border="1">
                                    <h:column >
                                        <h:commandLink value="#{musicaBean.getMusicaPlayName(item)}">                                        
                                            <f:setPropertyActionListener target="#{musicaBean.musicaPlay}"  value="#{item}"/>
                                        </h:commandLink>                                
                                    </h:column>                         
                                </h:dataTable>                                
                            </div>
                            <!-- Rodapé Modal -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-warning" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </h:form>
        </div>

        <h:form id="footer">
            <div id="footerNavbar" class="navbar navbar-fixed-bottom" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <h:outputLabel class="text-center text-muted" value="Mário Henrique Gontijo Freitas - 2014"/>
                    </div>
                </div>
            </div>
        </h:form>        

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->       
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="./js/bootstrap.min.js"></script>        
    </h:body>
</html>

